section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.page{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    padding:10px;
    border-radius :1px solid black;
    background-color: whitesmoke;
}
li{
    padding:20px;
    border-radius: 1px solid black;
    background-color: white;
    color:rgb(48, 129, 199);
    font-size: 20px;
    font-family: sans-serif;
}
.bg{
    background-color: rgb(14, 106, 227);
    color:white;
}
.bg2{
    background-color: rgb(224, 224, 232);
}
    
@media (max-width:600px) {
    
.page{
    display:flex;
    flex-direction: column;
    
    }
}